<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chirp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        
        body {
          --twitter-color: #50b7f5;
          --twitter-background: #e6ecf0;
        }
        
        .sidebarOption {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        
        .sidebarOption .material-icons,
        .fa-twitter {
          padding: 20px;
        }
        
        .sidebarOption h2 {
          font-weight: 800;
          font-size: 20px;
          margin-right: 20px;
        }
        
        .sidebarOption:hover {
          background-color: var(--twitter-background);
          border-radius: 30px;
          color: var(--twitter-color);
          transition: color 100ms ease-out;
        }
        
        .sidebarOption.active {
          color: var(--twitter-color);
        }
        
        .sidebar__tweet {
          width: 100%;
          background-color: var(--twitter-color);
          border: none;
          color: white;
          font-weight: 900;
          border-radius: 30px;
          height: 50px;
          margin-top: 20px;
        }
        
        body {
          display: flex;
          height: 100vh;
          max-width: 1300px;
          margin-left: auto;
          margin-right: auto;
          padding: 0 10px;
        }
        
        #logoutBtn {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
        padding: 13px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: crosshair;
      
        }
        .sidebar {
          border-right: 1px solid var(--twitter-background);
          flex: 0.2;
        
          min-width: 250px;
          margin-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
        }
        
        .fa-twitter {
          color: var(--twitter-color);
          font-size: 30px;
        }
        
        /* feed */
        .feed {
          flex: 0.5;
          border-right: 1px solid var(--twitter-background);
          min-width: fit-content;
          overflow-y: scroll;
        }
        
        .feed__header {
          position: sticky;
          top: 0;
          background-color: white;
          z-index: 100;
          border: 1px solid var(--twitter-background);
          padding: 15px 20px;
        }
        
        .feed__header h2 {
          font-size: 20px;
          font-weight: 800;
        }
        
        .feed::-webkit-scrollbar {
          display: none;
        }
        
        .feed {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
        
        /* tweet box */
        .tweetbox__input img {
          border-radius: 50%;
          height: 40px;
        }
        
        .tweetBox {
          padding-bottom: 10px;
          border-bottom: 8px solid var(--twitter-background);
          padding-right: 10px;
        }
        
        .tweetBox form {
          display: flex;
          flex-direction: column;
        }
        
        .tweetbox__input {
          display: flex;
          padding: 20px;
        }
        
        .tweetbox__input input {
          flex: 1;
          margin-left: 20px;
          font-size: 20px;
          border: none;
          outline: none;
        }
        
        .tweetBox__tweetButton {
          background-color: var(--twitter-color);
          border: none;
          color: white;
          font-weight: 900;
        
          border-radius: 30px;
          width: 80px;
          height: 40px;
          margin-top: 20px;
          margin-left: auto;
        }
        
        /* post */
        .post__avatar img {
          border-radius: 50%;
          height: 40px;
        }
        
        .post {
          display: flex;
          align-items: flex-start;
          border-bottom: 1px solid var(--twitter-background);
          padding-bottom: 10px;
        }
        
        .post__body img {
          width: 450px;
          object-fit: contain;
          border-radius: 20px;
        }
        
        .post__footer {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
        
        .post__badge {
          font-size: 14px !important;
          color: var(--twitter-color);
          margin-right: 5px;
        }
        
        .post__headerSpecial {
          font-weight: 600;
          font-size: 12px;
          color: gray;
        }
        
        .post__headerText h3 {
          font-size: 15px;
          margin-bottom: 5px;
        }
        
        .post__headerDescription {
          margin-bottom: 10px;
          font-size: 15px;
        }
        
        .post__body {
          flex: 1;
          padding: 10px;
        }
        
        .post__avatar {
          padding: 20px;
        }
        
        /* widgets */
        .widgets {
          flex: 0.3;
        }
        
        .widgets__input {
          display: flex;
          align-items: center;
          background-color: var(--twitter-background);
          padding: 10px;
          border-radius: 20px;
          margin-top: 10px;
          margin-left: 20px;
        }
        
        .widgets__input input {
          border: none;
          background-color: var(--twitter-background);
        }
        
        .widgets__searchIcon {
          color: gray;
        }
        
        .widgets__widgetContainer {
          margin-top: 15px;
          margin-left: 20px;
          padding: 20px;
          background-color: #f5f8fa;
          border-radius: 20px;
        }
        
        .widgets__widgetContainer h2 {
          font-size: 18px;
          font-weight: 800;
        }
        
        
      
      </style>
  </head>
  <body>
  
<h1>Hi <%= name %>,</h1> <br>
<form action="/logout?_method=DELETE" method="POST"> <br> <br>
  <button id="logoutBtn" type="submit">Log Out</button>
</form>
<!-- <a href="application.html"> HOME </a> -->

    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <h2>Home</h2>
      </div>

      <!-- tweetbox starts -->
      <div class="tweetBox">
        <form>
          <div class="tweetbox__input" >
            <img
              src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
              alt=""
            />
            <input type="text" id="myInput" placeholder="What's Chirping ?" />
          </div>
          <button id="chirpButton" class="tweetBox__tweetButton">Chirp</button>
        </form>
      </div>
      <!-- tweetbox ends -->

      <!-- post starts -->
        <!-- <div class= col-4 movie mb-4>
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= name %></h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit sapiente reprehenderit voluptates aliquid explicabo. Velit provident aliquid illum, ex nesciunt voluptatibus mollitia dolore similique accusantium, accusamus autem dolores ipsam.</p>
          <a href="#" class="btn btn-primary">LIKE</a> -->
          <!-- <a href="#" class="btn btn-primary">SHARE</a> -->
        <!-- </div>
      </div>
    </div> -->
      <div id="chrips-container" class="row results">

        <script>
          document.getElementById('chirpButton').addEventListener('click', (e) => {
            e.preventDefault();
            let inputVal = document.getElementById("myInput").value;
            let card = `
              <div class="card" style="width: 18rem;">
              <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title"><%= name %></h5>
              <p class="card-text">${inputVal}</p>
              <a href="#" class="btn btn-primary">LIKE</a>
            </div>
          </div>
            `
            let chrip_container = document.getElementById('chrips-container');
            chrip_container.innerHTML += card;
          })

        </script>
      </body>
</html>